<script>
  $(document).ready(function(){


    if ($('#paginate-load-more-button').length > 0) {
      $('#paginate-load-more-button .pagination').hide();


      <% if @unread_message_count == 0 %>
      $('#chat_content_scroll').scrollTop($('#chat_content_scroll')[0].scrollHeight);
      <% else %>
      $('#chat_content_scroll').scrollTop(65);
      <% end %>


      $('#chat_content_scroll').scroll(function(){
        if ($('#chat_content_scroll').scrollTop() == 0 && $('#paginate-load-more-button').length > 0 ){
          $('#loader').show();
          setTimeout(function(){
            more_posts_url = $('#paginate-load-more-button .pagination .next_page ').attr('href');
            $this = $(this);
            $.getScript(more_posts_url, function() {
              if ($this) {
                $('#loader').hide();
              }
            });
          },500);
        }
      });

    };

    $("#chat_text_field").mention({
      users: [
        <% User.all.each do |user| %>
        {
          name: '<%= user.full_name %>',
          username: '<%=  user.user_name %>'
        },
        <% end %>

      ]
    });
  });
</script>