#start-view.view.flex-column.align-items-center.justify-content-center{class: "#{current_user.is_user_channel?(@channel.id) ? "d-none" : "d-flex"}"}
  .big-circle.md-elevation-4.row.align-items-center.justify-content-center.no-gutters
    %i.s-32.text-secondary.icon-hangouts
  %span.app-title.h3.my-3
    = @channel.name.titleize
  %span.text-muted.h6.d-none.d-xl-block Join channel to start the chat!..
  = link_to "Join Channel", user_channels_path(authenticity_token: form_authenticity_token, user_channel: {user_id: current_user.id , channel_id: @channel.id   }), method: :post ,:remote => true  , class: "btn btn-secondary fuse-ripple-ready"
#chat-view.view.flex-column.align-items-center.justify-content-center{class: "#{current_user.is_user_channel?(@channel.id) ? "d-flex" : "d-none"}"}
  .toolbar.row.no-gutters.align-items-center.justify-content-between.w-100.px-4.channel_id{id: "channel#{@channel.id}","data-channel-id" => "#{@channel.id}"}
    .col{id: "user#{current_user.id}"}
      .row.no-gutters.align-items-center
        .chat-contact.row.no-gutters.align-items-center
          .avatar-wrapper.mr-4
            = image_tag @channel.image_url , class: "avatar"
            %i.icon.icon-.s-4.status.online
          .chat-contact-name
            = @channel.name

  .chat-content.col.custom-scrollbar#chat_content_scroll
    #paginate-load-more-button
      = will_paginate @channel_messages
    .chat-messages#chat_append_div
      - first = 0
      - @channel_messages.reverse.each do |message|
        - if @unread_message_count != 0 && @channel_messages.unread_message(current_user.id).last == message && first == 0
          .divider#unread_message_div_count{style: "margin-top: 5%;"}
            %span.float-right
              new message
              - first = 1
        .row.flex-nowrap.message-row.contact.p-4{class: "#{@channel_messages.first == message ? "last_message" : ""}"}
          - if message.created_by.image_url.present?
            = image_tag message.created_by.image_url , class: "avatar mr-4"
          - else
            = image_tag "profile.jpg" , class: "avatar mr-4"
          .bubble.ow
            %b{style: "color: black;"}
              = message.created_by.full_name
            .message{style:"line-height: 1;  white-space: normal;"}
              = message.message_text
            .time.text-muted.text-right.mt-2
              = message.created_at.strftime("%Y-%d-%m %H:%m")
  .chat-footer.row.align-items-center.justify-content-center.w-100.p-2.pl-4
    = form_for Message.new , remote: true , html: { class: "reply-form row no-gutters align-items-center w-100" } do |f|
      .form-group.col.mr-4
        = f.text_field :message_text , class:"form-control"   , id: "chat_text_field" ,placeholder: "Type and hit enter to send message"
        = f.hidden_field :created_by_id , value: current_user.id
        = f.hidden_field :messageable_id , value: @channel.id
        = f.hidden_field :messageable_type , value: "Channel"
      %button.btn.btn-fab.btn-secondary{"aria-label" => "Send message", :type => "submit"}
        %i.icon.icon-send
          = render 'channels/js'


:javascript

  $( document ).ready(function() {

     $("#chat_text_field").emojiPicker();


    //$("#chat_text_field").one("keypress", function () {
    //setTimeout(function() {
    // update_channel()
    //  }, 1000);
    //});

    //$(document).click(function() {
    //  setTimeout(function() {
    //    update_channel()
    //  }, 1000);
    //
    //});
    //
    //  $(window).focus(function() {
    //  setTimeout(function() {
    //   update_channel()
    //  }, 1000);
    //  });


    //  function update_channel() {
    //$.ajax({
    //    type: 'get',
    //    url: '/channels/'+ $('.channel_id').data('channel-id') +'/update_channel_message' ,
    //    dataType:'script',
    //    success:function(data){
    //      console.log(data);
    //      $('#loader').hide();
    //      setTimeout(function() {
    //        //$("#channel_count"+<%= @first_channel.id %>).text("0");
    //        //$("#channel_room_id"+<%= @first_channel.room.id %>).text($("#channel_room_id"+<%= @first_channel.room.id %>).text() - unread);
    //        //$("#unread_message_div_count").fadeOut( "slow" );
    //      }, 1000);
    //    },
    //    error:function(data){
    //      console.log(data);
    //    }
    //  });
    //}



   });