<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @channel.room_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @channel.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @channel.image_url %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
