<% if !params[:page] %>
$("#chat-content-views").empty();
$("#chat-content-views").html("<%= escape_javascript(render 'message_pannel' ) %>");

<% else %>
var firstMsg = $('.message-row:first');
var curOffset = firstMsg.offset().top - $('#chat_content_scroll').scrollTop() ;
curOffset = curOffset + 70;

$('#chat_append_div').prepend("<%= escape_javascript(render 'message_list' ) %>");
<% end %>

 var unread = <%=  @unread_message_count%>

<% if @unread_message_count != 0 %>

<% @channel_messages.each do |message| %>
<% message.update_columns(unread_message_by_user: message.unread_message_by_user - [current_user.id.to_s]) %>
<% end %>


<% current_user.taggings.channel_tagging(@channel.id).un_read.update_all(is_read: true) %>

<% end %>

<% if @channel_messages.next_page %>
$('#paginate-load-more-button .pagination').replaceWith("<%= j will_paginate @channel_messages %>");
$('#paginate-load-more-button .pagination').hide();

<% else %>
$('#paginate-load-more-button').remove();
<% end %>

<% if @channel_messages.next_page && params[:page] %>

$('#chat_content_scroll').scrollTop(firstMsg.offset().top-curOffset );

<% end %>
setTimeout(function() {
  $("#channel_count"+<%= @channel.id %>).text("0");
  $("#channel_room_id"+<%= @channel.room.id %>).text($("#channel_room_id"+<%= @channel.room.id %>).text() - unread);
  $("#unread_message_div_count").fadeOut( "slow" );

  $("#tagging_room"+<%= @channel.room.id %>).fadeOut( "slow" );
  $("#tagging_channel"+<%= @channel.id %>).fadeOut( "slow" );

}, 2000);













