.row.flex-nowrap.message-row.contact.p-4.last_message
  - if @message.created_by.image_url.present?
    = image_tag @message.created_by.image_url , class: "avatar mr-4"
  - else
    = image_tag "profile.jpg" , class: "avatar mr-4"
  .bubble.ow
    %b{style: "color: black;"}
      = @message.created_by.full_name
    .message{style:"line-height: 1;  white-space: normal;"}
      = @message.message_text
    .time.text-muted.text-right.mt-2
      = @message.created_at.strftime("%Y-%d-%m %H:%m")