$('.last_message').removeClass('last_message');

$('#chat_append_div').append("<%= escape_javascript(render 'append_message' ) %>");
$('#chat_text_field').val("");
$('#chat_content_scroll').scrollTop($('#chat_content_scroll')[0].scrollHeight);
