<p id="notice"><%= notice %></p>

<h1>User Channels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Channel</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_channels.each do |user_channel| %>
      <tr>
        <td><%= user_channel.user_id %></td>
        <td><%= user_channel.channel_id %></td>
        <td><%= user_channel.status %></td>
        <td><%= link_to 'Show', user_channel %></td>
        <td><%= link_to 'Edit', edit_user_channel_path(user_channel) %></td>
        <td><%= link_to 'Destroy', user_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Channel', new_user_channel_path %>
