<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_channel.user_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @user_channel.channel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_channel.status %>
</p>

<%= link_to 'Edit', edit_user_channel_path(@user_channel) %> |
<%= link_to 'Back', user_channels_path %>
