.doc.forms-doc.page-layout.simple.full-width
  .page-content.row.p-6
    .col-12
      .example
        .description
          .description-text
            %h5 Add Exchange
          .toggle-source-preview
        .source-preview-wrapper
          .preview
            .preview-elements
              = form_for(@exchange) do |f|
                = f.hidden_field :user_id , value: current_user.id
                .form-row
                  .form-group.col-md-6
                    = f.text_field :name , class: "form-control" ,placeholder: "Name"
                    %label.col-form-label{:for => ""} Name
                  .form-group.col-md-6
                    %label{:for => "exampleFormControlSelect1"} Example Exchange Company
                    = f.select(:category_id, Category.all.collect { |p| [ p.name, p.id ] }, {include_blank: "Select something"}, {:class => 'form-control'})
                .form-row
                  .form-group.col-md-6
                    = f.text_field :api_key , class: "form-control" ,placeholder: "Api Key"
                    %label.col-form-label{:for => ""} Api Key
                  .form-group.col-md-6
                    = f.text_field :secret_key , class: "form-control" ,placeholder: "Api Key"
                    %label.col-form-label{:for => ""} Secret Key
                %button.btn.btn-primary{:type => "submit"} Save
