.doc.simple-table-doc.page-layout.simple.full-width
  .page-content.row.p-6
    .col-12
      .example
        .description
          .description-text
            %h2#responsive-tables Exchanges
          .toggle-source-previeww{style: "margin-left: auto"}
            %a.btn.btn-secondary.btn-fab.btn-smripple{:href => "/exchanges/new"}
              %i.icon-plus

        .source-preview-wrapper
          .preview
            .preview-elements
              %table.table.table-responsive
                %thead
                  %tr
                    %th Name
                    %th Company
                    %th Api Key
                    %th Secret Key
                %tbody
                  - @exchanges.each do |exch|
                    %tr
                      %td
                        = exch.name
                      %td
                        = exch.category.name
                      %td
                        = exch.api_key
                      %td
                        = exch.secret_key




