<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @exchange.api_key %>
</p>

<p>
  <strong>Secret key:</strong>
  <%= @exchange.secret_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @exchange.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @exchange.category_id %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
