.nested-fields
  .form-group
    %label.form-control-label{:for => "recipient-name"} Name:
    = f.text_field :name ,class: "form-control" ,  id:"recipient-name"
  .form-group
    %label.form-control-label{:for => "message-text"} Description:
    = f.text_area :description ,class: "form-control" ,  id:"recipient-name"
  .form-group
    %a{:href => "#", :class => "upload_channel_logo_file" }
      - if f.object.new_record?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"channel_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.present?
        = image_tag f.object.image_url ,width: 100 , height: 100 , id:"channel_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.blank?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"channel_logo" , style:"border-radius: 60px"
      .text-hide
        = f.text_field :image_url,   class: "channel_logo_text_field"
  = link_to_remove_association "remove Channel", f , class: "btn btn-danger pull-right"




