= form_for(@room , remote: true , :url => @room.new_record? ? "/admin/rooms" : "/admin/rooms/#{@room.id}" ) do |f|
  - if @room.errors.present?
    .preview
      .preview-elements
        .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %strong Holy guacamole!
          You should check in on some of those fields below.

  .form-group
    %label.form-control-label{:for => "recipient-name"} Name:
    = f.text_field :name ,class: "form-control" ,  id:"recipient-name"  , required: true
  .form-group
    %label.form-control-label{:for => "message-text"} Description:
    = f.text_area :description ,class: "form-control" ,  id:"recipient-name"  , required: true
  .form-group
    %a{:href => "#", :class => "upload_logo_file" }
      - if f.object.new_record?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.present?
        = image_tag f.object.image_url ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.blank?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      .text-hide
        = f.text_field :image_url,   class: "pdf_text_field"
  -#%h5
  -#  Add Channels
  -##channels
  -#  = f.fields_for :channels do |channel|
  -#    = render 'channel_fields', f: channel
  -#  .links
  -#    = link_to_add_association 'add channel', f, :channels , class: "btn btn-secondary"
  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
    %button.btn.btn-primary{:type => "submit"} Save


:javascript

  $('.upload_logo_file').click(function() {
    var ele = $(this).parent().find('.pdf_text_field');

    client.pick({
      fromSources: ["local_file_system", "dropbox", "googledrive"],
    }).then(function(result ) {

      console.log(result.filesUploaded[0].url);
      console.log(ele);

      ele.val(result.filesUploaded[0].url);

      $('#room_logo').attr("src", result.filesUploaded[0].url );

    })

  });



  $('.upload_channel_logo_file').click(function() {

    var ele = $(this).parents('.nested-fields').find('.channel_logo_text_field');
    var ele_logo = $(this).parents('.nested-fields').find('#channel_logo');



    client.pick({
      fromSources: ["local_file_system", "dropbox", "googledrive"],
    }).then(function(result ) {

      ele.val(result.filesUploaded[0].url);
      ele_logo.attr("src", result.filesUploaded[0].url );

    })

  });