<% if @room.errors.present? %>

<% @room.errors.full_messages.each do |error|  %>
$('#new_edit_room').prepend("<%= escape_javascript(render 'errors' , error: error ) %>");
<% end %>

<% else %>

location.reload();

<% end %>