#login-v2.row.no-gutters
  .intro.col-12.col-md
    .d-flex.flex-column.align-items-center.align-items-md-start.text-center.text-md-left.py-16.py-md-32.px-12{ :style => "height: 810px;" }
      .logo.bg-secondary.mb-8
        %span C
      .title
        Welcome to the COINREBELS!
      .description.pt-2
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.okay
  .form-wrapper.col-12.col-md-auto.d-flex.justify-content-center.p-4.p-md-0
    .form-content.md-elevation-8.h-100.bg-white.text-auto.py-16.py-md-32.px-12
      .title.h5 Log in to your account
      .description.mt-2 Add Manage your Bussiness and dreams
      = form_for(resource, as: resource_name, url: session_path(resource_name) , html: {class: "mt-8"}) do |f|
        .form-group.mb-4
          = f.email_field :email, class: "form-control",  autofocus: true , :placeholder => " " , required: true
          %label{:for => "loginFormInputEmail"} Email address
        .form-group.mb-4
          = f.password_field :password,  class: "form-control" , required: true
          %label{:for => "loginFormInputPassword"} Password
        .remember-forgot-password.row.no-gutters.align-items-center.justify-content-between.pt-4
          .form-check.remember-me.mb-4
            %label.form-check-label
              = f.check_box :remember_me , class: "form-check-input"
              %span.checkbox-icon
              %span.form-check-description Remember Me
        %button.submit-button.btn.btn-block.btn-secondary.my-4.mx-auto{"aria-label" => "LOG IN", :type => "submit"}
          LOG IN