<script>
  $(document).ready(function(){
    <% if @unread_message_count != 0 %>
    var unread = <%= @unread_message_count %>
            setTimeout(function() {
              $.ajax({
                type: 'get',
                url: '/conversations/'+ <%= @conversation.id  %>+'/update_conversation_message' ,
                dataType:'script',
                success:function(data){

                  $('#loader').hide();
                  setTimeout(function() {
                    $("#conversation_count"+<%= @conversation.id %>).text($("#conversation_count"+<%= @conversation.id %>).text() - unread);
                    $("#unread_message_div_count").fadeOut( "slow" );
                  }, 1000);
                },
                error:function(data){
                  console.log(data);
                }
              });
            }, 2000);
    <% end %>


    if ($('#paginate-load-more-button').length > 0) {
      $('#paginate-load-more-button .pagination').hide();


      <% if @unread_message_count == 0 %>
      $('#chat_content_scroll').scrollTop($('#chat_content_scroll')[0].scrollHeight);
      <% else %>
      $('#chat_content_scroll').scrollTop(65);
      <% end %>


      $('#chat_content_scroll').scroll(function(){
        if ($('#chat_content_scroll').scrollTop() == 0 && $('#paginate-load-more-button').length > 0){
          $('#loader').show();
          setTimeout(function(){
            more_posts_url = $('#paginate-load-more-button .pagination .next_page ').attr('href');
            $this = $(this);
            $.getScript(more_posts_url, function() {
              if ($this) {
                $('#loader').hide();
              }
            });
          },500);
        }
      });
    };


    $("#chat_text_field").mention({

      users: [
        <% Room.all.each do |room| %>
        {
          name: '<%= room.name %>',
          username: '<%=  room.name %>'
        },
        <% end %>

        <% Channel.all.each do |channel| %>
        {
          name: '<%= channel.name %>',
          username: '<%=  channel.name %>'
        },
        <% end %>


      ]
    });


  });
</script>