#chat.page-layout.carded.full-width
  .top-bg.bg-secondary
  .page-content.w-100.mx-auto.px-0.pt-0.px-sm-4.pt-sm-8
    .page-content-card.row.no-gutters
      .content.col
        #chat-content-views.views
          #loader
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .lading
          #chat-view.view.flex-column.align-items-center.justify-content-center.d-flex
            .toolbar.row.no-gutters.align-items-center.justify-content-between.w-100.px-4.conversation_id{id: "conversation#{@conversation.id}" ,"data-conversation-id" => "#{@conversation.id}"}
              .col
                .row.no-gutters.align-items-center
                  .chat-contact.row.no-gutters.align-items-center
                    .avatar-wrapper.mr-4
                      - if @conversation.conversation_reciver(current_user.id).image_url.present?
                        = image_tag @conversation.conversation_reciver(current_user.id).image_url , class: "avatar"
                      - else
                        = image_tag "profile.jpg" , class: "avatar"
                      %i.icon.icon-.s-4.statu
                    .chat-contact-name
                      = @conversation.conversation_reciver(current_user.id).full_name
            .chat-content.col.custom-scrollbar#chat_content_scroll
              - if @conversation_messages.next_page
                #paginate-load-more-button
                  = will_paginate @conversation_messages
              .chat-messages#chat_append_div
                - first = 0
                - @conversation_messages.reverse.each do |message|
                  - if @unread_message_count != 0 && @conversation_messages.unread_message(current_user.id).last == message && first == 0
                    .divider#unread_message_div_count{style: "margin-top: 5%;"}
                      %span.float-right
                        new message
                      - first = 1
                  .row.flex-nowrap.message-row.contact.p-4{class: "#{@conversation_messages.first == message ? "last_message" : ""}"}
                    - if message.created_by.image_url.present?
                      = image_tag message.created_by.image_url , class: "avatar mr-4"
                    - else
                      = image_tag "profile.jpg" , class: "avatar mr-4"
                    .bubble.ow
                      %b{style: "color: black;"}
                        = message.created_by.full_name
                      .message{style:"line-height: 1;  white-space: normal;"}
                        = message.message_text
                      .time.text-muted.text-right.mt-2
                        = message.created_at.strftime("%Y-%d-%m %H:%m")
            .chat-footer.row.align-items-center.justify-content-center.w-100.p-2.pl-4
              = form_for Message.new , remote: true , html: { class: "reply-form row no-gutters align-items-center w-100" } do |f|
                .form-group.col.mr-4
                  = f.text_field :message_text , class:"form-control"   , id: "chat_text_field" ,placeholder: "Type and hit enter to send message"
                  = f.hidden_field :created_by_id , value: current_user.id
                  = f.hidden_field :messageable_id , value: @conversation.id
                  = f.hidden_field :messageable_type , value: "Conversation"
                  %input{:name => "message[unread_message_by_user][]", :type => "hidden", :value => "#{@conversation.first_user == current_user ? @conversation.second_user.id : @conversation.first_user.id}"}/
                %button.btn.btn-fab.btn-secondary{"aria-label" => "Send message", :type => "submit"}
                  %i.icon.icon-send
                  = render 'conversations/js'

:javascript

  $( document ).ready(function() {



    $("#chat_text_field").emojiPicker();

    $('.emojiPickerIcon').trigger('click');

    $('#loader').hide();


    $(document).click(function() {
      setTimeout(function() {
        update_conversation()
      }, 1000);
    });





    function update_conversation() {
    $.ajax({
        type: 'get',
        url: '/conversations/'+ $('.conversation_id').data('conversation-id') +'/update_conversation_message' ,
        dataType:'script',
        success:function(data){

          $('#loader').hide();
          setTimeout(function() {
          }, 1000);
        },
        error:function(data){
          console.log(data);
        }
      });
    }

  });



