
var firstMsg = $('.message-row:first');
var curOffset = firstMsg.offset().top - $('#chat_content_scroll').scrollTop() ;
curOffset = curOffset + 70;

$('#chat_append_div').prepend("<%= escape_javascript(render 'message_pannel' ) %>");
<% if @conversation_messages.next_page %>
$('#paginate-load-more-button .pagination').replaceWith("<%= j will_paginate @conversation_messages %>");
$('#paginate-load-more-button .pagination').hide();

$('#chat_content_scroll').scrollTop(firstMsg.offset().top-curOffset );

<% else %>
$('#paginate-load-more-button').remove();
<% end %>





