#project-dashboard.page-layout.simple.full-width
  .page-content-wrapper
    .page-content.p-6
      .widget-group.row
        .col-12.col-sm-6.col-xl-3.p-3
          .widget.widget1.card
            .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between
              .col
                %select.h6.custom-select
                  %option{:selected => "selected", :value => "today"} Today
                  %option{:value => "yesterday"} Yesterday
                  %option{:value => "tomorrow"} Tomorrow
              %button.btn.btn-icon{:type => "button"}
                %i.icon.icon-dots-vertical
            .widget-content.pt-2.pb-8.d-flex.flex-column.align-items-center.justify-content-center
              .title.text-secondary{style:"font-size: 7.2rem"}
                = Room.all.count
              .sub-title.h6.text-muted{style: "font-weight: 500"} Rooms
            .widget-footer.p-4.bg-light.row.no-gutters.align-items-center
              %span.text-muted Active:
              %span.ml-2
                = Room.all.count
        .col-12.col-sm-6.col-xl-3.p-3
          .widget.widget2.card
            .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between
              .col
                %span.h6 Overdue
              %button.btn.btn-icon{:type => "button"}
                %i.icon.icon-dots-vertical
            .widget-content.pt-2.pb-8.d-flex.flex-column.align-items-center.justify-content-center
              .title.text-danger{style:"font-size: 7.2rem"}
                = Channel.all.count
              .sub-title.h6.text-muted{style: "font-weight: 500"} Channels
            .widget-footer.p-4.bg-light.row.no-gutters.align-items-center
              %span.text-muted Active :
              %span.ml-2
                = Channel.all.count
        .col-12.col-sm-6.col-xl-3.p-3
          .widget.widget3.card
            .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between
              .col
                %span.h6 Issues
              %button.btn.btn-icon{:type => "button"}
                %i.icon.icon-dots-vertical
            .widget-content.pt-2.pb-8.d-flex.flex-column.align-items-center.justify-content-center
              .title.text-warning{style:"font-size: 7.2rem"} 32
              .sub-title.h6.text-muted{style: "font-weight: 500"} OPEN
            .widget-footer.p-4.bg-light.row.no-gutters.align-items-center
              %span.text-muted Closed today:
              %span.ml-2 0
        .col-12.col-sm-6.col-xl-3.p-3
          .widget.widget4.card
            .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between
              .col
                %span.h6 Features
              %button.btn.btn-icon{:type => "button"}
                %i.icon.icon-dots-vertical
            .widget-content.pt-2.pb-8.d-flex.flex-column.align-items-center.justify-content-center
              .title.text-info{style:"font-size: 7.2rem"} 42
              .sub-title.h6.text-muted{style: "font-weight: 500"} PROPOSALS
            .widget-footer.p-4.bg-light.row.no-gutters.align-items-center
              %span.text-muted Implemented:
              %span.ml-2 8

