<script>
  $(document).ready(function(){

    $('#loader').hide();
    $('.chat-list .contact').on('click', function ()
    {
      $('#loader').show();
      console.log($(this).attr('id'));
      $.ajax({
        type: 'get',
        url: '/channels/'+$(this).attr('id') ,
        dataType:'script',
        success:function(data){
          console.log(data);
          $('#loader').hide();
        },
        error:function(data){
          console.log(data);
        }
      });
    });



    <% if @unread_message_count != 0 %>
    var unread = <%= @unread_message_count %>
    setTimeout(function() {
      $.ajax({
        type: 'get',
        url: '/channels/'+ <%= @first_channel.id  %>+'/update_channel_message' ,
        dataType:'script',
        success:function(data){
          console.log(data);
          $('#loader').hide();
          setTimeout(function() {
            $("#channel_count"+<%= @first_channel.id %>).text("0");
            $("#channel_room_id"+<%= @first_channel.room.id %>).text($("#channel_room_id"+<%= @first_channel.room.id %>).text() - unread);
            $("#unread_message_div_count").fadeOut( "slow" );
            $("#tagging_room"+<%= @first_channel.room.id %>).fadeOut( "slow" );
            $("#tagging_channel"+<%= @first_channel.id %>).fadeOut( "slow" );


          }, 1000);
        },
        error:function(data){
          console.log(data);
        }
      });
    }, 2000);
    <% end %>

    if ($('#paginate-load-more-button').length > 0) {
      $('#paginate-load-more-button .pagination').hide();

      <% if @unread_message_count == 0 %>
      $('#chat_content_scroll').scrollTop($('#chat_content_scroll')[0].scrollHeight);
      <% else %>
      $('#chat_content_scroll').scrollTop(65);
      <% end %>

      $('#chat_content_scroll').scroll(function(){
        if ($('#chat_content_scroll').scrollTop() == 0 && $('#paginate-load-more-button').length > 0){
          $('#loader').show();
          setTimeout(function(){
            more_posts_url = $('#paginate-load-more-button .pagination .next_page ').attr('href');
            $this = $(this);
            $.getScript(more_posts_url, function() {
              if ($this) {
                $('#loader').hide();
              }
            });
          },500);
        }
      });
    };

    $("#chat_text_field").mention({
      users: [
        <% @first_channel.users.all.each do |user| %>
        {
          name: '<%= user.full_name %>',
          username: '<%=  user.user_name%> '
        },
        <% end %>
      ]
    });

    $("#chat_text_field").emojiPicker();




  });
</script>