#chat.page-layout.carded.full-width
  .top-bg.bg-secondary
  .page-content.w-100.mx-auto.px-0.pt-0.px-sm-4.pt-sm-8
    .page-content-card.row.no-gutters
      %aside.left-sidebar{"data-fuse-bar" => "chat-left-sidebar", "data-fuse-bar-media-step" => "lg"}
        #chat-left-sidebar-views.views
          #chats-view.view.d-flex.flex-column.no-gutters
            .toolbar
              .toolbar-top.row.no-gutters.align-items-center.justify-content-between.px-4
                .avatar-wrapper
                  = image_tag @room.image_url , class: "avatar"
                  %i.icon-.status.online.s-4
                %button.btn.btn-icon{:type => "button"}
                  %i.icon.icon-dots-vertical
              .toolbar-bottom.row.align-items-center.no-gutters.px-4
                .search-wrapper.md-elevation-1.row.no-gutters.align-items-center.w-100.p-2
                  %i.icon-magnify.s-4
                  %input.col.pl-2{:placeholder => "Search or start new chat", :type => "text"}/
            .content.col.custom-scrollbar
              .chat-list
                .contact.ripple.flex-wrap.flex-sm-nowrap.row.p-4.no-gutters.align-items-center{:id => "#{@first_channel.id}"}
                  .col-auto.avatar-wrapper
                    = image_tag @first_channel.image_url , class: "avatar"
                  .col.px-4
                    %span.name.h6
                      = @first_channel.name
                    %p.last-message.text-truncate.text-muted
                      = @first_channel.description
                    %p.last-message.text-truncate.text-muted
                      members: #{@first_channel.users.count }
                  %i.icon-at.float-right.at_rate{id: "tagging_channel#{@first_channel.id}" , style: " margin-top: 27px; margin-right: -27px; visibility: #{current_user.taggings.channel_tagging(@first_channel.id).un_read.count >= 1 ? 'visible': 'hidden'}"}
                  .col-12.col-sm-auto.d-flex.flex-column.align-items-end
                    .last-message-time
                      = @first_channel.created_at.strftime("%d/%m/%y")
                    .bg-secondary.text-auto.unread-message-count.mt-2{id: "channel_count#{@first_channel.id}"}
                      = @first_channel.messages.unread_message(current_user.id).count
                .divider
                - @room.channels.each do |channel|
                  - next if channel.id == @first_channel.id
                  .contact.ripple.flex-wrap.flex-sm-nowrap.row.p-4.no-gutters.align-items-center{:id => "#{channel.id}"}
                    .col-auto.avatar-wrapper
                      = image_tag channel.image_url , class: "avatar"
                    .col.px-4
                      %span.name.h6
                        = channel.name
                      %p.last-message.text-truncate.text-muted
                        = channel.description
                      %p.last-message.text-truncate.text-muted
                        members: #{channel.users.count }
                    %i.icon-at.float-right.at_rate{id: "tagging_channel#{channel.id}" , style: " margin-top: 27px; margin-right: -27px; visibility: #{current_user.taggings.channel_tagging(channel.id).un_read.count >= 1 ? 'visible': 'hidden'}"}
                    .col-12.col-sm-auto.d-flex.flex-column.align-items-end
                      .last-message-time
                        = channel.created_at.strftime("%d/%m/%y")
                      .bg-secondary.text-auto.unread-message-count.mt-2{id: "channel_count#{channel.id}"}
                        = channel.messages.unread_message(current_user.id).count
                  .divider
      .content.col
        #chat-content-views.views
          #start-view.view.flex-column.align-items-center.justify-content-center{class: "#{current_user.is_user_channel?(@first_channel.id) ? "d-none" : "d-flex"}"}
            .big-circle.md-elevation-4.row.align-items-center.justify-content-center.no-gutters
              %i.s-32.text-secondary.icon-hangouts
            %span.app-title.h3.my-3
              = @first_channel.name.titleize
            %span.text-muted.h6.d-none.d-xl-block Join channel to start the chat!..
            = link_to "Join Channel", user_channels_path(authenticity_token: form_authenticity_token, user_channel: {user_id: current_user.id , channel_id: @first_channel.id   }), method: :post ,:remote => true  , class: "btn btn-secondary fuse-ripple-ready"
          #loader
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .dot
            .lading
          #chat-view.view.flex-column.align-items-center.justify-content-center{class: "#{current_user.is_user_channel?(@first_channel.id) ? "d-flex" : "d-none"}"}
            .toolbar.row.no-gutters.align-items-center.justify-content-between.w-100.px-4.channel_id{id: "channel#{@first_channel.id}" ,"data-channel-id" => "#{@first_channel.id}"}
              .col{id: "user#{current_user.id}"}
                .row.no-gutters.align-items-center
                  .chat-contact.row.no-gutters.align-items-center
                    .avatar-wrapper.mr-4
                      = image_tag @first_channel.image_url , class: "avatar"
                      %i.icon.icon-.s-4.status.online
                    .chat-contact-name
                      = @first_channel.name
            .chat-content.col.custom-scrollbar#chat_content_scroll{style: "overflow-y:scroll;"}
              - if @first_channel_messages.next_page
                #paginate-load-more-button
                  = will_paginate @first_channel_messages
              .chat-messages#chat_append_div
                - first = 0
                - @first_channel_messages.reverse.each do |message|
                  - if @unread_message_count != 0 && @first_channel_messages.unread_message(current_user.id).last == message && first == 0
                    .divider#unread_message_div_count{style: "margin-top: 5%;"}
                      %span.float-right
                        new message
                      - first = 1
                  .row.flex-nowrap.message-row.contact.p-4{class: "#{@first_channel_messages.first == message ? "last_message" : ""}"}
                    - if message.created_by.image_url.present?
                      = image_tag message.created_by.image_url , class: "avatar mr-4"
                    - else
                      = image_tag "profile.jpg" , class: "avatar mr-4"
                    .bubble.ow
                      %b{style: "color: black;"}
                        = message.created_by.full_name
                      .message{style:"line-height: 1;  white-space: normal;"}
                        = message.message_text
                      .time.text-muted.text-right.mt-2
                        = message.created_at.strftime("%Y-%d-%m %H:%m")
            .chat-footer.row.align-items-center.justify-content-center.w-100.p-2.pl-4
              = form_for Message.new , remote: true , html: { class: "reply-form row no-gutters align-items-center w-100" } do |f|
                .form-group.col.mr-4
                  = f.text_field :message_text , class:"form-control emojiable-option" , id: "chat_text_field"  ,placeholder: "Type and hit enter to send message"
                  = f.hidden_field :created_by_id , value: current_user.id
                  = f.hidden_field :messageable_id , value: @first_channel.id
                  = f.hidden_field :messageable_type , value: "Channel"
                %button.btn.btn-fab.btn-secondary{"aria-label" => "Send message", :type => "submit"}
                  %i.icon.icon-send
                  = render 'rooms/js'
:javascript

  $( document ).ready(function() {

      $('.emojiPickerIcon').trigger('click');



    $(document).click(function() {
      setTimeout(function() {
        update_channel()
      }, 1000);
    });

    function update_channel() {
    $.ajax({
        type: 'get',
        url: '/channels/'+ $('.channel_id').data('channel-id') +'/update_channel_message' ,
        dataType:'script',
        success:function(data){
          console.log(data);
          $('#loader').hide();
          setTimeout(function() {
          }, 1000);
        },
        error:function(data){
          console.log(data);
        }
      });
    }
   });






