#login-v2.row.no-gutters
  .intro.col-12.col-md
    .d-flex.flex-column.align-items-center.align-items-md-start.text-center.text-md-left.py-16.py-md-32.px-12{ :style => "height: 810px;" }
      .logo.bg-secondary.mb-8
        %span C
      .title
        Welcome to the COINREBELS!
      .description.pt-2
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .form-wrapper.col-12.col-md-auto.d-flex.justify-content-center.p-4.p-md-0
    .form-content.md-elevation-8.h-100.bg-white.text-auto.py-16.py-md-32.px-12
      .title.h5 Set Password
      .description.mt-2 Enter new password for continue
      = form_for(resource, as: resource_name, url: password_path(resource_name) , html: {method: :put ,class: "mt-8"}) do |f|
        = f.hidden_field :reset_password_token, as: :hidden
        .form-group.mb-4
          = f.password_field :password,  class: "form-control" , required: true
          %label{:for => "registerFormInputPassword"} Password
        .form-group.mb-4
          = f.password_field :password_confirmation,  class: "form-control" , required: true
          %label{:for => "registerFormInputPasswordConfirm"} Password (Confirm)
        %button.submit-button.btn.btn-block.btn-secondary.my-4.mx-auto{"aria-label" => "LOG IN", :type => "submit"}
          SEND PASSWORD

      .register.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-center.mt-8.mb-6.mx-auto
        %span.text.mr-sm-2 Don't have an account?
        = link_to "Create an account", new_registration_path(resource_name) , class: "link text-secondary"






