= form_for(@channel , remote: true , :url => @channel.new_record? ? "/admin/channels" : "/admin/channels/#{@channel.id}" ) do |f|
  .form-group
    %label.form-control-label{:for => "recipient-name"} Name:
    = f.text_field :name ,class: "form-control" ,  id:"recipient-name" , required: true
  .form-group
    %label.form-control-label{:for => "message-text"} Description:
    = f.text_area :description ,class: "form-control" ,  id:"recipient-name"  , required: true
  .form-group
    %label{:for => "exampleFormControlSelect1"} Select Room
    = f.select :room_id, Room.all.collect { |p| [ p.name, p.id ] },{}, {include_blank: true ,class: "form-control"  , required: true }


  .form-group
    %a{:href => "#", :class => "upload_logo_file" }
      - if f.object.new_record?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.present?
        = image_tag f.object.image_url ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      - elsif f.object.image_url.blank?
        = image_tag "profile_image.png" ,width: 100 , height: 100 , id:"room_logo" , style:"border-radius: 60px"
      .text-hide
        = f.text_field :image_url,   class: "pdf_text_field"
  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
    %button.btn.btn-primary{:type => "submit"} Save

:javascript

  $('.upload_logo_file').click(function() {
    var ele = $(this).parent().find('.pdf_text_field');

    client.pick({
      fromSources: ["local_file_system", "dropbox", "googledrive"],
    }).then(function(result ) {

      console.log(result.filesUploaded[0].url);
      console.log(ele);

      ele.val(result.filesUploaded[0].url);

      $('#room_logo').attr("src", result.filesUploaded[0].url );

    })

  });



