.doc.simple-table-doc.page-layout.simple.full-width
  .page-content.row.p-6
    .col-12
      .example
        .description
          .description-text
            %h2#responsive-tables Channels
          .toggle-source-previeww{style: "margin-left: auto"}
            %a.btn.btn-secondary.btn-fab.btn-smripple{"data-remote" => "true", "data-target" => "#new_edit_channel_modal", "data-toggle" => "modal", :href => "#{new_admin_channel_path}"}
              %i.icon-plus
        .source-preview-wrapper
          .preview
            .preview-elements
              %table.table.table-responsive
                %thead
                  %tr
                    %th Image
                    %th Name
                    %th Description
                    %th Status
                    %th Room
                    %th Actions
                %tbody
                  - @channels.each do |channel|
                    %tr
                      %td
                        - if channel.image_url.present?
                          =  image_tag channel.image_url , width: 50 , height: 50 , style:"border-radius: 60px;"
                      %td
                        = channel.name
                      %td
                        = channel.description
                      %td
                        = channel.status.titleize
                      %td
                        = channel.room.name
                      %td
                        %a.btn.btn-secondary.btn-fab.btn-sm.fuse-ripple-ready{"data-remote" => "true", "data-target" => "#new_edit_channel_modal", "data-toggle" => "modal", :href => "#{edit_admin_channel_path(channel.id)}"}
                          %i.icon-lead-pencil

#new_edit_channel_modal.modal.right.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Add Channel
        %button.close-click.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true", :style => "color:  #ffffff;"} ×
      .modal-body#new_edit_channel


