<% if @channel.errors.present? %>

<% @channel.errors.full_messages.each do |error|  %>

$('#new_edit_channel').prepend("<%= escape_javascript(render 'errors' , error: error ) %>");

<% end %>

<% else %>

location.reload();

<% end %>