<%= simple_form_for(@tagging) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :message_id %>
    <%= f.input :is_read %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
