<p id="notice"><%= notice %></p>

<h1>Taggings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th>Is read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taggings.each do |tagging| %>
      <tr>
        <td><%= tagging.user_id %></td>
        <td><%= tagging.message_id %></td>
        <td><%= tagging.is_read %></td>
        <td><%= link_to 'Show', tagging %></td>
        <td><%= link_to 'Edit', edit_tagging_path(tagging) %></td>
        <td><%= link_to 'Destroy', tagging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagging', new_tagging_path %>
