<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tagging.user_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tagging.message_id %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @tagging.is_read %>
</p>

<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
