%aside#aside.aside.aside-left{"data-fuse-bar" => "aside", "data-fuse-bar-media-step" => "md", "data-fuse-bar-position" => "left"}
  .aside-content-wrapper
    .aside-content.bg-primary-500.text-auto
      .aside-toolbar
        .logo
          %span.logo-icon C
          %span.logo-text COINREBELS
        %button#toggle-fold-aside-button.btn.btn-icon.d-none.d-lg-block{"data-fuse-aside-toggle-fold" => "", :type => "button"}
          %i.icon.icon-backburger
      %ul#sidenav.nav.flex-column.custom-scrollbar{"data-children" => ".nav-item"}
        %li.subheader
          %span APPS
        %li.nav-item
          %a.nav-link.ripple{"data-page-url" => "/apps-dashboards-project.html", :href => "/admin"}
            %i.icon.s-4.icon-tile-four
            %span Dashboards
        %li.nav-item
          %a.nav-link.ripple{"data-page-url" => "", :href => "/admin/rooms"}
            %i.icon.s-4.icon-tile-four
            %span Rooms
        %li.nav-item
          %a.nav-link.ripple{"data-page-url" => "", :href => "/admin/channels"}
            %i.icon.s-4.icon-tile-four
            %span Channels