%aside#aside.aside.aside-left{"data-fuse-bar" => "aside", "data-fuse-bar-media-step" => "md", "data-fuse-bar-position" => "left"}
  .aside-content-wrapper
    .aside-content.bg-primary-500.text-auto
      .aside-toolbar
        .logo
          %span.logo-icon C
          %span.logo-text COINREBELS
        %button#toggle-fold-aside-button.btn.btn-icon.d-none.d-lg-block{"data-fuse-aside-toggle-fold" => "", :type => "button"}
          %i.icon.icon-backburger
      %ul#sidenav.nav.flex-column.custom-scrollbar{"data-children" => ".nav-item"}
        %li.subheader
          %span APPS
        %li.nav-item
          %a.nav-link.ripple{"data-page-url" => "/apps-dashboards-project.html", :href => "/"}
            %i.icon.s-4.icon-tile-four
            %span Dashboards
        %li.nav-item
          %a.nav-link.ripple{"data-page-url" => "", :href => "/exchanges"}
            %i.icon.s-4.icon-tile-four
            %span Exchanges
        %li.subheader
          %span Rooms

        - Room.all.each do |room|
          %li.nav-item
            %a.nav-link.ripple{"data-page-url" => "/apps-chat.html", :href => "/rooms/#{room.id}"}
              .i.icon.s-4
                = image_tag room.image_url , width: 15  , class: "avatar" , style:"width: 3rem;min-width: 3rem; height: 3rem;"
              %span{style: "padding-left: 10px;"}
                = room.name
                %i.icon-at.float-right.at_rate{id: "tagging_room#{room.id}" , style: "visibility: #{current_user.taggings.room_tagging(room.id).un_read.count >= 1 ? 'visible': 'hidden'}"}
              .small-circle{id: "channel_room_id#{room.id}"}
                = room.unread_channel_message_count(current_user.id)
        %li.subheader
          %span Users
        - User.all.each do |user|
          - next if user == current_user
          - if result = Conversation.first_or_second(user.id , current_user.id).first || result = Conversation.first_or_second(current_user.id , user.id).first
            %li.nav-item
              %a.nav-link.ripple{"data-page-url" => "/apps-chat.html", :href => "/conversations/#{result.id}"}
                .i.icon.s-4
                  - if user.image_url.present?
                    = image_tag user.image_url , width: 15  , class: "avatar" , style:"width: 3rem;min-width: 3rem; height: 3rem;"
                  - else
                    = image_tag "profile.jpg"  , width: 15  , class: "avatar" , style:"width: 3rem;min-width: 3rem; height: 3rem;"
                %span{style: "padding-left: 10px;"}
                  = user.full_name
                .small-circle{id: "conversation_count#{result.id}"}
                  = result.messages.unread_message(current_user.id).count

-#:javascript
-#
-#  $(document).ready(function(){
-#    $("#room_heading").click(function(){
-#      console.log($(this).attr('id'));
-#      $.ajax({
-#          type: 'get',
-#          url: '/rooms',
-#          dataType:'script',
-#        success:function(data){
-#          console.log(data);
-#          //$('#loader').hide();
-#        },
-#        error:function(data){
-#          console.log(data);
-#      }
-#    });
-#    });
-#  });

:css
  .small-circle
  {
  width: 24px;
  height: 22px;
  border-radius: 50%;
  background-color: #40a2f1;
  text-align: center;
  }