%nav#toolbar.fixed-top.bg-white
  .row.no-gutters.align-items-center.flex-nowrap
    .col
      .row.no-gutters.align-items-center.flex-nowrap
        %button.toggle-aside-button.btn.btn-icon.d-block.d-lg-none{"data-fuse-bar-toggle" => "aside", :type => "button"}
          %i.icon.icon-menu
        .toolbar-separator.d-block.d-lg-none
        .shortcuts-wrapper.row.no-gutters.align-items-center.px-0.px-sm-2
          .shortcuts.row.no-gutters.align-items-center.d-none.d-md-flex
            %a.shortcut-button.btn.btn-icon.mx-1{:href => "#"}
              %i.icon.icon-hangouts
            %a.shortcut-button.btn.btn-icon.mx-1{:href => "#"}
              %i.icon.icon-account-box
            %a.shortcut-button.btn.btn-icon.mx-1{:href => "#"}
              %i.icon.icon-email
          .add-shortcut-menu-button.dropdown.px-1.px-sm-3
            #dropdownShortcutMenu.dropdown-toggle.btn.btn-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              %i.icon.icon-star.text-amber-600
            .dropdown-menu{"aria-labelledby" => "dropdownShortcutMenu"}
              %a.dropdown-item{:href => "#"}
                .row.no-gutters.align-items-center.justify-content-between.flex-nowrap
                  .row.no-gutters.align-items-center.flex-nowrap
                    %i.icon.icon-calendar-today
                    %span.px-3 Calendar
                  %i.icon.icon-pin.s-5.ml-2
              %a.dropdown-item{:href => "#"}
                .row.no-gutters.align-items-center.justify-content-between.flex-nowrap
                  .row.no-gutters.align-items-center.flex-nowrap
                    %i.icon.icon-folder
                    %span.px-3 File Manager
                  %i.icon.icon-pin.s-5.ml-2
              %a.dropdown-item{:href => "#"}
                .row.no-gutters.align-items-center.justify-content-between.flex-nowrap
                  .row.no-gutters.align-items-center.flex-nowrap
                    %i.icon.icon-checkbox-marked
                    %span.px-3 To-Do
                  %i.icon.icon-pin.s-5.ml-2
        .toolbar-separator
    .col-auto
      .row.no-gutters.align-items-center.justify-content-end
        .user-menu-button.dropdown
          #dropdownUserMenu.dropdown-toggle.ripple.row.align-items-center.no-gutters.px-2.px-sm-4{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            .avatar-wrapper
              - if current_user.image_url.present?
                = image_tag( current_user.image_url , class: "avatar")
              - else
                = image_tag("profile.jpg" , class: "avatar")
              %i.status.text-green.icon-checkbox-marked-circle.s-4
            %span.username.mx-3.d-none.d-md-block
              = current_user.full_name
          .dropdown-menu{"aria-labelledby" => "dropdownUserMenu"}
            %a.dropdown-item{:href => "#"}
              .row.no-gutters.align-items-center.flex-nowrap
                %i.icon-account
                %span.px-3 My Profile
            %a.dropdown-item{:href => "#"}
              .row.no-gutters.align-items-center.flex-nowrap
                %i.icon-email
                %span.px-3 Inbox
            %a.dropdown-item{:href => "#"}
              .row.no-gutters.align-items-center.flex-nowrap
                %i.status.text-green.icon-checkbox-marked-circle
                %span.px-3 Online
            .dropdown-divider
            %a.dropdown-item{:href => "#{destroy_user_session_path}"}
              .row.no-gutters.align-items-center.flex-nowrap
                %i.icon-logout
                %span.px-3 Logout



