!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title Coinrebels
    :css
      [fuse-cloak],
      .fuse-cloak {
        display: none !important;
      }
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = filestack_js_include_tag
    = filestack_js_init_tag
  %body.layout.layout-vertical.layout-left-navigation.layout-below-toolbar
    #wrapper
      = render "layouts/partials/admin_left_bar"
      .content-wrapper
        =  render "layouts/partials/admin_top_bar"
        .content
          = yield
