!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title Coinrebels
    :css
      [fuse-cloak],
      .fuse-cloak {
        display: none !important;
      }
    = csrf_meta_tags
    = stylesheet_link_tag    'login_signup', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'login_signup', 'data-turbolinks-track': 'reload'
  %body.layout.layout-vertical.layout-left-navigation.layout-below-toolbar
    .content-wrapper
      .content
        = yield