#register-v2.row.no-gutters
  .intro.col-12.col-md
    .d-flex.flex-column.align-items-center.align-items-md-start.text-center.text-md-left.py-16.py-md-32.px-12
      .logo.bg-secondary.mb-8
        %span C
      .title
        Welcome to the COINREBELS!
      .description.pt-2
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .form-wrapper.col-12.col-md-auto.d-flex.justify-content-center.p-4.p-md-0
    .form-content.md-elevation-8.h-100.bg-white.text-auto.py-16.py-md-32.px-12
      .title.h5 Create account
      .description.mt-2 Sed mollis velit facilisis facilisis viverra
      = form_for(resource, as: resource_name, url: registration_path(resource_name) , html: {class: "mt-8"}) do |f|
        .form-group.mb-4
          = f.text_field :first_name,   autofocus: true , class: "form-control" , required: true
          %label{:for => "registerFormInputName"} First Name
        .form-group.mb-4
          = f.text_field :last_name, class: "form-control" , required: true
          %label{:for => "registerFormInputName"} Last Name
        .form-group.mb-4
          = f.number_field :mobile_number, class: "form-control" , required: true
          %label{:for => "registerFormInputName"} Mobile Number
        .form-group.mb-4
          = f.email_field :email, class: "form-control",  required: true
          %label{:for => "registerFormInputEmail"} Email address
        .form-group.mb-4
          = f.password_field :password,  class: "form-control" , required: true
          %label{:for => "registerFormInputPassword"} Password
        .form-group.mb-4
          = f.password_field :password_confirmation,  class: "form-control" , required: true
          %label{:for => "registerFormInputPasswordConfirm"} Password (Confirm)
        %button.submit-button.btn.btn-block.btn-secondary.my-4.mx-auto{"aria-label" => "LOG IN", :type => "submit"}
          CREATE MY ACCOUNT
      .login.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-center.mt-8.mb-6.mx-auto
        %span.text.mr-sm-2 Already have an account?
        = link_to "Log in",  new_session_path(resource_name) , class: "link text-secondary"
